In [40]:
import pandas as pd
import numpy as np

In [41]:
df=pd.read_data("ds_salaries.csv")

AttributeError: module 'pandas' has no attribute 'read_data'

In [42]:
df.head()

NameError: name 'df' is not defined

# Data Preparation

In [43]:
df.information()

NameError: name 'df' is not defined

In [44]:
df.description()

NameError: name 'df' is not defined

In [45]:
df.null().sum

NameError: name 'df' is not defined

# Outlier Detection

## Box Plot analysis
### Box plots are a simple way to visualize the distribution of a dataset and identify outliers. You can use the boxplot() function in pandas to create a box plot for each numerical attribute in your dataset. The box plot will display the quartiles of the data and any outliers that fall outside the whiskers.

In [46]:
import matplotlib.pyplot as p

df.boxplotting()
plt.show()

NameError: name 'df' is not defined

## Z-score:
###  The z-score is a measure of how many standard deviations a data point is from the mean. You can calculate the z-score for each numerical attribute in your dataset and identify any data points with a z-score greater than a certain threshold

In [47]:
from scipy import stats
z_scores = stats.z_score(df.select_dtypes(include=['']))
outliers = df[(z_scores > 3).any(axis=)]

SyntaxError: invalid syntax (2908667211.py, line 3)

In [48]:
display(outliers)

NameError: name 'outliers' is not defined

In [49]:
outliers.shape

NameError: name 'outliers' is not defined

## Scatter Plot:
### Scatter plots can be used to visualize the relationship between two numerical attributes in your dataset. You can create scatter plots for each pair of numerical attributes and identify any data points that fall far away from the general trend of the data.

In [50]:

pd.plotting.scattermatrix(df.select_dtypes(include=['']), figsize=(10,10))
plt.show()

AttributeError: module 'pandas.plotting' has no attribute 'scattermatrix'

# Outlier Treatment
## Winsorization
### Winsorization is a technique that involves replacing extreme values with less extreme values. For example, you can replace the top 5% of values with the value at the 95th percentile and the bottom 5% of values with the value at the 5th percentile. This approach can be useful if you want to reduce the impact of outliers on the analysis while retaining the overall distribution of the data.

In [51]:
q = df['salary'].quantile(0.95)
df['salary'] = df[''].apply(lambda x: q if x > q else x)

NameError: name 'df' is not defined

In [52]:
df

NameError: name 'df' is not defined

## logarithmic transformation
### Transformation involves applying a mathematical function to the data to adjust the distribution and reduce the impact of outliers. For example, you can apply a logarithmic transformation to a dataset with a long tail to make it more symmetric and reduce the impact of extreme values.

In [53]:
df['salary_in_usd'] = df['salary_in_usd'].apply(lambda x: np.log(x+1))

NameError: name 'df' is not defined

In [54]:
df

NameError: name 'df' is not defined

In [55]:
plt.scatter(df['work_year'], df['salary_in_usd'])
plt.xlabel('Work Year')
plt.ylabel('Salary in USD (log)')
plt.show()

NameError: name 'plt' is not defined

# Data Manipulations:
## Convert data types:

In [56]:
df['remote_ratio'] = df['remote_ratio'].astype('')

NameError: name 'df' is not defined

In [57]:
df

NameError: name 'df' is not defined

## Create new attributes:

In [58]:
import datetime

In [59]:
current_year = datetime.datetime.now().year
df['company_age'] = current_year - df['work_year']

NameError: name 'df' is not defined

In [60]:
df

NameError: name 'df' is not defined

## Group and aggregate data:

In [61]:
grouped = df.groupby('company_size')['salary'].mean

NameError: name 'df' is not defined

In [62]:
grouped

NameError: name 'grouped' is not defined

## Reshape data:

In [63]:
melted = pd.melt(df, id_vars=['work_year'], value_vars=['salary', 'salary_in_usd'], var_name='salary_type', value_name=salary_amount)
pivoted = pd.pivot_table(melted, values='salary_amount', index=['work_year'], columns=['salary_type'], aggfunc='')

NameError: name 'df' is not defined

In [64]:
melted

NameError: name 'melted' is not defined

In [65]:
pivoted

NameError: name 'pivoted' is not defined

# Skewness:
### Skewness is a measure of the asymmetry of the probability distribution of a random variable. In other words, it measures how much a distribution deviates from a normal distribution. A normal distribution has a skewness of 0, while a distribution that is skewed to the right (i.e., has a long tail to the right) has a positive skewness, and a distribution that is skewed to the left (i.e., has a long tail to the left) has a negative skewness. Skewness is an important concept in statistics because many statistical techniques assume that the data are normally distributed, and deviations from normality can lead to biased or incorrect results.

In [66]:
from scipy.stats import 
numerical_attributes = ['work_year', 'salary', 'salary_in_usd', 'remote_ratio']
skewness = df[numerical_attributes].apply(lambda x: skew(x.dropna()))

SyntaxError: invalid syntax (2735687990.py, line 1)

In [67]:
skewness

NameError: name 'skewness' is not defined

# Pair Plot Anaylsis
### A pair plot is a type of visualization that allows you to explore the relationship between pairs of variables in a dataset. It is particularly useful when you have a large number of variables, and you want to get a quick overview of the relationships between them. A pair plot consists of a grid of scatterplots, where each variable is plotted against every other variable. The diagonal of the plot shows a histogram of each variable, and the off-diagonal plots show the scatterplots.

In [68]:
import seaborn as sns
numerical_attributes = ['work_year', 'salary', 'salary_in_usd', 'remote_ratio']
sns.pair_plot(df[numerical_attributes])

AttributeError: module 'seaborn' has no attribute 'pair_plot'

In [69]:
from sklearn.preprocessing import LabelEncoder

In [70]:
#create class object
le=LabelEncoder

In [71]:
df

NameError: name 'df' is not defined

In [72]:
new=["work_year","experience_level","employment_type"]
df_new=df[new]

NameError: name 'df' is not defined

In [73]:
df_new

NameError: name 'df_new' is not defined

In [74]:
#encode the data
df_new["le_work_year"]=le.fit_transform(df["work_year"])
df_new["le_experience_level"]=le.fit_transform(df["experience_level"])
df_new["le_employment_type"]=le.fit_transform(df["employment_type"])

NameError: name 'df' is not defined

In [75]:
df_new

NameError: name 'df_new' is not defined

In [76]:
encoded_df=df_new.drop(["work_year","experience_level","employment_type"],axis=1)

NameError: name 'df_new' is not defined

In [77]:
encoded_df

NameError: name 'encoded_df' is not defined

In [78]:
from sklearn.naivebayes import GaussianNB
from sklearn.model_selection import train_test_split

ModuleNotFoundError: No module named 'sklearn.naivebayes'

In [79]:
x_train,y_train,y_test=train_test_split(encoded_df,df["salary"],test_size=0.2,random_state=42)

NameError: name 'train_test_split' is not defined

In [80]:
len(x_train)

NameError: name 'x_train' is not defined

In [81]:
len(y_train)

NameError: name 'y_train' is not defined

In [82]:
model=GaussianNB()

NameError: name 'GaussianNB' is not defined

In [83]:
model.fit(x_train,y_train)

NameError: name 'model' is not defined

In [84]:
pred=model.predict()

NameError: name 'model' is not defined

In [85]:
pred

NameError: name 'pred' is not defined

In [86]:
from sklearn.metrics import confusion_matrix

In [87]:
c=confusionmatrix(y_test,pred)

NameError: name 'confusionmatrix' is not defined